# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Build files
dist/
build/

# Logs
*.log
npm-debug.log*

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


client/node_modules/
server/node_modules/

client/dist/
server/dist/